<h1>労働時間の入力</h1>
<%= form_with(model: @event, local: true) do |form| %>

     <div class="time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
<%=link_to '⬅️【カレンダーへもどる】', events_index_path, class: :nav__btn%>