<h1>労働時間の入力</h1>

<%= form_with(model: @event, local: true) do |form| %>

  <div class="title">
    <%= form.label "労働時間" %>
    <%= form.text_field :num %>時間
  </div>

    <div class="time">
    <%= form.label "日付"%>
    <%= form.datetime_select :start_time %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
<%=link_to '⬅️【カレンダーへもどる】', events_index_path, class: :nav__btn%>